.action{
    background-color: black;
}

.group3{
    display: inline-block;
}


.act{
    height: 200px;
    width: 300px;
    border-radius: 20px;
}


.acti{
    height: 200px;
    width: 300px;
    border-radius: 20px;
}

.acti{
    height: 200px;
    width: 300px;
    border-radius: 20px;
}

.ati{
    height: 200px;
    width: 300px;
    border-radius: 20px;
}

.actio{
    height: 200px;
    width: 300px;
    border-radius: 20px;
}