body{
    background-color: black;
}

.bike{
    width: 300px;
    height: 200px;
    border-radius: 20px;
}

.bike2{
    width: 300px;
    height: 200px;
    border-radius: 20px;
}

.bike3{
    width: 300px;
    height: 200px;
    border-radius: 20px;
}
.bike4{
    width: 300px;
    height: 200px;
    border-radius: 20px;
}